services:
  backend: 
    container_name: e_commerce_back_end
    build: .
    env_file: 
      - .env
    depends_on:
      - postgres
    networks:
      - private

  postgres:
    container_name : data_base
    image : postgres:15
    restart : always
    ports: 
      - "5432:5432"
    env_file:
      - .env.postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - private

  nginx: 
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on: 
      - backend 
    networks:
      - private
      - public

volumes: 
  postgres_data:

networks:
  private:
    driver: bridge
    internal: true
  public:
    driver: bridge